PUBLIC_POCKETBASE_URL=https://pocketbase-production-95c5.up.railway.app
DEV_POCKETBASE_URL=http://127.0.0.1:8091

POCKETBASE_SUPERUSER_EMAIL=email
POCKETBASE_SUPERUSER_PASSWORD=password

LOCAL_POCKETBASE_SUPERUSER_EMAIL=rehearsal@example.test
LOCAL_POCKETBASE_SUPERUSER_PASSWORD=TempRehearsalPass123!